*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url('./roxy.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.navbar{
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
ul li{
    display: inline;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    color: beige;
    font-size: 20px;
    font-weight: bolder;
    transition: 1s ease;
}
ul li a:hover{
    color: crimson;
    font-size: 25px;

}

.container{
    color: beige;
    margin: 100px
}
h1{
    font-size: 60px;
    color: crimson;
    font-weight: bolder;
}
h3{
    font-size: 25px;
    font-weight: bolder;
}
.images{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 150px;
}

button{
    background-color: rgb(104, 104, 253);
    border: 2px solid black;
    font-size: 25px;
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
    text-transform: capitalize;
}
